 To run

 You can Run your JavaScript File from your Terminal only if you have installed NodeJs runtime. 
 If you have Installed it then Simply open the terminal and type “node FileName. js”           IMplement Double linked List today from site.